:root {
    --bkg_color: #FAFAFA;
    --main_blue: #007CE7;
    --main_red: #ff7979;
    --text_grey: #3C3C3C;
    --transition_speed: 0.1s;
}

/* MONACO CODE EDITOR */

.monaco-editor-component {
    background-color: #ff0000;
    margin-top: 20px;
}

.monaco-editor .scroll-decoration {
    box-shadow: none !important;
}

.minimap-shadow-visible {
    display: none;
}

/* GENERAL */

.content {
    margin: 30px 3vw;
    width: 80%;
}

.subtitle {
    font-family: 'Fira Code';
    font-weight: 500;
    font-size: 1.2em;
    color: var(--main_blue);
}

.title {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 3em;
    color: var(--text_grey);
    margin-top: 2px;
    margin-bottom: 12px;
}

.setup_info {
    font-family: 'Manrope';
    width: 100%;
    font-size: 1.1em;
}

/* SETUP PAGE */

.form_info {
    padding: 14px 0 0px 0;
}

.form_info, label {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 1.1em;
    margin: 18px 0 0px 0;
}

label.short {
    display: inline-block;
    width: 120px;
    padding-right: 20px;
}

label.long {
    display: inline-block;
    margin: 28px 0 0px 0;
}

input:-webkit-autofill::first-line {
    font-family: 'Manrope';
}

.text_field.short, .text_field.long {
    background-color: white;
}

.text_field.short {
    width: 280px;
}

.text_field.short::placeholder, .text_field.text_field.long::placeholder {
    color: #bbbbbb;
}

.text_field.long {
    width: 400px;
}

.button.submit {
    margin-top: 20px;
    float: none;
}

/* SETUP ERROR HANDLING */
.short.error {
    border-color: var(--main_red) !important;
    transition: 0.25s; 
}

.long.error {
    border-color: var(--main_red) !important;
    transition: 0.25s;
}

.info-msg {
    margin-top: 15px;
    font-family: 'Fira Code';
    color: #5CB900;
    opacity: 0;
    transition: 0.1s;
}

.info-msg > strong {
    color: #007CE7;
    font-weight: 500;
}

.info-msg.sub {
    opacity: 1;
}

p.info-msg.error {
    opacity: 1;
    color: var(--main_red);
}

/* PROBLEMS PAGE */
